{%include 'base.html'%}
{%load bootstrap3%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
            <h3 class="text-center"  style="background-color: goldenrod;">Add Your Business Here</h3>
            <form  action="" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-primary" style="background-color: #001d3d;">Add</button>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}