{%extends 'base.html'%}
{%load bootstrap3%}
{%block content%}
<div class="container">
    <h1>Hello neighbour</h1>
    <a class="btn btn-info" href="{% url 'createHood' %}">Create Neighbourhood</a>
    <div class="row">
        {% for hood in hoods %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-header">
                    {{ hood.neighbourhood_location }}
                </div>
                <div class="panel-body">
                    <img src="{{hood.hood_photo.url}}" class="img-responsive" alt="{{image.hood_name}}"
                    style="width:100%;width:100%">
                    {{ hood.neighbourhood_name }}
                </div>
                <div style="padding-top:1%;padding-bottom:1%">
                    {%if request.user.profile.neighbourhood == hood %}
                    <a class="btn btn-info btn-small" href="/">View Hood</a>
                    <a class="btn btn-warning" href="/">Leave Hood</a>
                    {%elif not request.user.profile.neighbourhood%}
                    <a class="btn btn-default" href="{%url 'joinhood' hood.id%}">Join Hood</a>
                    {%endif%}
                </div>
            </div>
            <p></p>
        </div>

        {%endfor%}
       
    </div>
</div>

{%endblock%}