{%extends 'base.html'%}
{%load bootstrap3%}
{%block content%}
<div class="container">
    <h1>Hello neighbour</h1>
    <a class="btn btn-info" href="{% url 'createHood' %}">Create Neighbourhood</a>
    <div class="row">
        {% for hood in hoods %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-header">
                    {{ hood.neighbourhood_location }}
                </div>
                <div class="panel-body">
                    <img src="{{ hood.photo.url }}" alt="{{ neighbourhood.name }}" height="300px">
                    {{ hood.neighbourhood_name }}
                </div>
                <div class="panel-footer">
                    <p>    {{ hood.occupants_count }}</p>
                    <a class="btn btn-info" href="{% url 'joinHood'%}">Join</a>
                    <a class="btn btn-info" href="{% url 'singleHood' %}" >View Hood</a>
                </div>
            </div>
            <p></p>
        </div>

        {%endfor%}
    </div>
</div>

{%endblock%}