{%include 'base.html'%}

{% load bootstrap3 %}
{% load static %}
{% block content %}

<div class="container">
    <div class=" col-md-6">
        <div class="panel panel-default">
            <div class="panel-header">
                {{ neighbourhood.name }}
                {{neighbourhood.location}}
            </div>
            <div class="panel-body">
                <img src="{{ neighbourhood.neighbourhood_photo.url }}" alt="{{ neighbourhood.name }}" height="300px">
            </div>
            <div class="panel-footer">
                <h6>
                    <span><strong>{{neighbourhood.members.count}}</strong>
                        Member{{neighbourhood.occupants_count | pluralize}}</span>
                </h6>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
<a class="btn btn-info">Add Business</a>
<a class="btn btn-info" href="{% url 'post' neighbourhood.id %}"> Create Post</a>
    <div class="row">{% for post in posts %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h6 class="card-title text-success">{{post.post_title}}:
                        <span class="text-muted" style="font-size: 14px;">{{post.post_category}}</span>
                    </h6>
                    <p class="card-text text-dark">{{ post.post_description }}</p>
                    <p class="card-text">
                        Posted by: <small class="text-success">
                            {{ post.user.user.username | title }}</small>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}

        {% for busines in business %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h6 class="card-title text-success">{{busines.name}}:
                        <span class="text-muted" style="font-size: 14px;">{{busines.email}}</span>
                    </h6>
                    <p class="card-text text-dark">{{ busines.description }}</p>
                    <p class="card-text">
                        Owner: <small class="text-success">
                            {{ busines.user.user.username | title }}</small>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
<hr>


{% endblock %}